.home-grid-container{
	display:grid;
	grid-gap:10px;

	grid-template-columns: repeat(8, 1fr);	
}

.home-grid-container .left-section, .mid-content-section, .right-section{
	min-height: 490px;
}

.mid-content-section{
	padding:10px;
	background: #dddddd;
	box-shadow: 1px 1px #bbbbbb;
	border-radius : 2px;
	word-wrap: break-word;
	grid-column:3/7;
}